<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Adicionar Responsável de Empresa">
        <form #form="ngForm" class="container" (ngSubmit)="onSubmit()" [formGroup]="responsableForm">
            <mat-form-field appearance="fill">
                <mat-label>Email do Utilizador</mat-label>
                <input matInput formControlName="email" placeholder="pat@example.com" required />
                <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Primeiro Nome</mat-label>
                <input matInput formControlName="firstName" placeholder="ex: António" required />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Ultimo nome</mat-label>
                <input matInput formControlName="lastName" placeholder="ex: Antunes" required />
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Empresa</mat-label>
                <mat-select formControlName="CompanyId" required>
                    <mat-option *ngFor="let v of companies" [value]="v.id">{{
                        v.companyName
                      }}</mat-option>
                </mat-select>
            </mat-form-field>
            <button class="AddResponsable" type="submit" mat-button>
                Adicionar Responsável de Empresa
            </button>
        </form>
    </mat-tab>
    <mat-tab label="Lista de Responsáveis de Empresa">
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.user.name}} </td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
            </ng-container>

            <ng-container matColumnDef="companyName">
                <th mat-header-cell *matHeaderCellDef> Empresa </th>
                <td mat-cell *matCellDef="let element"> {{element.company.companyName}} </td>
            </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Apagar </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="primary" (click)='deleteResponsable(element.id)'>
                        <mat-icon class="mat-18">delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-tab>
</mat-tab-group>