<!--<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/gep/home']">GEP</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/gep/home']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/gep/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/gep/fetch-data']"
              >Fetch data</a
            >
          </li>
          <li>
            <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">
              Logout
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
-->

<header>
  <ul class="nav">
    <div class="LiItems">
      <li [routerLinkActive]="['link-active']">
        <img class="logo" src="../../../assets/img/Logótipo_do_Instituto_Politécnico_de_Setúbal.png"
          [routerLink]="['/gep/home']" />
      </li>
      <li [routerLinkActive]="['link-active']" class="dropdown">
        <section class="ItemSection" [routerLink]="['/gep/counter']">
          Estágios
        </section>
        <div class="dropdown-content">
          <a [routerLink]="['/gep/addUser']">Ver Estágios</a>
          <a href="#" *ngIf="role == 'Estudante'">Meu Estágio</a>
          <a href="#" *ngIf="role == 'Estudante'">Minhas Candidaturas</a>
          <a href="#" *ngIf="role == 'Admin' || role == 'Coordenador'">Propostas de Estágio</a>
          <a href="#" *ngIf="role == 'Admin' || role == 'Coordenador'">Adicionar Estágios</a>
        </div>
      </li>
      <div class="Separator"></div>
      <li [routerLinkActive]="['link-active']" class="dropdown">
        <section class="ItemSection" [routerLink]="['/gep/counter']">
          Projectos
        </section>
        <div class="dropdown-content">
          <a [routerLink]="['/gep/addUser']">Ver Projectos</a>
          <a href="#" *ngIf="role == 'Estudante'">Meu Projecto</a>
          <a href="#" *ngIf="role == 'Estudante'">Minhas Candidaturas</a>
          <a href="#" *ngIf="role == 'Admin' || role == 'Coordenador'">Propostas de Projecto</a>
          <a href="#" *ngIf="
              role == 'Admin' || role == 'Coordenador' || role == 'Docente'
            ">Adicionar Projectos</a>
        </div>
      </li>
      <div class="Separator"></div>
      <li [routerLinkActive]="['link-active']" class="dropdown">
        <section class="ItemSection" [routerLink]="['/gep/fetch-data']">
          Estudantes
        </section>
        <div class="dropdown-content">
          <a [routerLink]="['/gep/viewStudents']">Ver Estudantes</a>
        </div>
      </li>
      <div class="Separator"></div>
      <li [routerLinkActive]="['link-active']" class="dropdown">
        <section class="ItemSection" [routerLink]="['/gep/fetch-data']">
          Empresas
        </section>
        <div class="dropdown-content">
          <a [routerLink]="['/gep/viewCompanies']">Ver Empresas</a>
          <a [routerLink]="['/gep/addCompany']" *ngIf="role == 'Admin' || role == 'Coordenador'">Adicionar Empresas</a>
        </div>
      </li>
      <div class="Separator"></div>
      <li [routerLinkActive]="['link-active']" *ngIf="role == 'Admin'" class="dropdown">
        <section class="ItemSection" [routerLink]="['/gep/fetch-data']">
          Gerir Utilizadores
        </section>
        <div class="dropdown-content">
          <a [routerLink]="['/gep/addUser']">Estudantes</a>
          <a [routerLink]="['/gep/addDocente']">Docentes</a>
          <a href=" #">Responsáveis de Empresa</a>
          <a href="#">Coordenadores</a>
        </div>
      </li>
      <div *ngIf="role == 'Admin'" class="Separator"></div>
    </div>

    <aside>
      <div class="Profile">
        <div>
          <strong *ngIf="userDetails">{{ userDetails.name }}</strong>
          <section>{{ role }}</section>
        </div>
        <div class="Container dropdown">
          <img class="Img" src="https://ucc.edu.gh/sites/default/files/default_images/img_avatar_0.png" alt="avatar" />
          <div class="dropdown-content-profile">
            <a [routerLink]="['/gep/settings']">Definições</a>
            <a role="button" (click)="onLogout()">Sair</a>
          </div>
        </div>
      </div>
    </aside>
  </ul>
</header>