<!--<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/gep/home']">GEP</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/gep/home']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/gep/counter']"
              >Counter</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/gep/fetch-data']"
              >Fetch data</a
            >
          </li>
          <li>
            <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">
              Logout
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
-->

<header>
  <ul class="nav">
    <div class="LiItems">
      <li>
        <section class="ItemSection">
          DashBoard
        </section>
      </li>
      <div class="Separator"></div>
      <li>
        <section class="ItemSection">
          segunda
        </section>
      </li>
    </div>

    <aside>
      <div class="Profile">
        <div>
          <strong>Joao Martins</strong>
          <section>Profile</section>
        </div>
        <div class="Container">
          <img
            class="Img"
            src="https://ucc.edu.gh/sites/default/files/default_images/img_avatar_0.png"
            alt="avatar"
          />
        </div>
      </div>
    </aside>
  </ul>
</header>
