<div class="Container">
  <form>
    <img
      class="avatar"
      src="https://ucc.edu.gh/sites/default/files/default_images/img_avatar_0.png"
    />

    <input class="Input" />
    <input class="Input" />
    <input class="Input" />
    <input class="Input" />

    <hr />

    <input class="Input" type="password" />
    <input class="Input" type="password" />

    <div class="ButtonContainer">
      <button class="UpdateProfileButton" type="submit">
        Atualizar Perfil
      </button>
      <button class="LogoutButton">Sair</button>
    </div>
  </form>
</div>
